{% extends 'base.html' %}

{% block title %}Обратная связь{% endblock %}

{% block body %}

<!--        <div id="ellipse"></div>-->
<!--        <div id="ellipse2"></div>-->
<!--        <div id="ellipse3"></div>-->
        <header class="header_outer">
            <div class="header_inner responsive_wrapper">
                <div class="header_logo">
                    <img src="static/images/logo.png" />
                </div>
                <nav class="header_navigation">
                    <a href=".">ГЛАВНАЯ</a>
                    <a href="/about">О НАС</a>
                    <a href="#">ОТЗЫВЫ</a>
                    <a href="/contacts">КОНТАКТЫ</a>
                </nav>
                <div class="header_number">8 800 000 0 0</div>
            </div>
        </header>

        <main>
            <div class="container">
                <div class="container2">
                    <div class="text">
                       Заявка
                    </div>
                    <form id = "form" name = "form" method="post">
                       <div class="form-row" >
                          <div class="input-data">
                             <input class="text_inter_24" type="text" placeholder="Имя" id = "name" name = "name" data-reg="^[А-ЯЁ][а-яё]*$"/>
                             <div class="underline"></div>

                          </div>
                       </div>
                       <div class="form-row">
                          <div class="input-data">
                             <input class="text_inter_24" type="text" placeholder="E-mail" id = "email" name = "email" data-reg="^[-\w.]+@([A-z0-9][-A-z0-9]+\.)+[A-z]{2,4}$"/>
                             <div class="underline"></div>
                          </div>
                       </div>
                       <div class="form-row">
                            <div class="input-data">
                                <input class="text_inter_24" type="text" placeholder="Телефон" id = "phone" name = "phone" data-reg="^((\+7|7|8)+([0-9]){10})$"/>
                                <div class="underline"></div>
                            </div>
                        </div>
                       <div class="form-row">
                            <div class="input-data textarea">
                                <input class="text_inter_24" type="textarea" placeholder="Сообщение" id = "message" name="message"/>
                                <br />
                                <div class="underline"></div>
                                <br />

                            </div>
                        </div>
                        <input type="submit" value="Отправить" class="feedback_button">
<!--                        <a href="", onclick="confirm('Вы уверены?');"><div class="feedback_button">-->
<!--                            <h2 class="feedback_text_button" id="button"><input type="submit" value="Отправить" ></h2>-->
<!--                        </div></a>-->

                    </form>
                </div>
                <div id="feedback_ellipse"></div>
                <div id="feedback_oval1"></div>
                <div id="feedback_oval2"></div>
                <img class="image_feedback" src="static/images/feedback.jpg" alt ="Фотография воздушных шаров на закате">

            </div>
        </main>
        <footer>
            <div class="container">

            </div>
        </footer>
{% endblock %}